@model Project1_403.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

@{ var datef = "";
    if (Model.RestDateFriendly == true)
    {
        datef = "&#10004;";
    }
    else
    {
        datef = "&#120299;";
    }

}

<div id="detailsjumbo" class="jumbotron maintableparent">
    <br />
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <h1 style="text-align: center; color: #FFFFF0; font-size: 50px;"> Details for @Html.DisplayFor(model => model.RestName)</h1>

        </div>
    </div>
</div>

<div>
    <hr />
    <dl class="container1">
        <dt>
            @Html.DisplayNameFor(model => model.RestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestOverallRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestOverallRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestDateFriendly)
        </dt>

        <dd>
            @Html.Raw((string)@datef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestCleanliness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestCleanliness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantType.RestTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestFoodTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodType.FoodTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestAvgMealPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestAvgMealPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestAddress),
            @Html.DisplayFor(model => model.RestCity),
            @Html.DisplayFor(model => model.RestState)
            @Html.DisplayFor(model => model.RestZipCode)
</dl>
</div>
<p>
    @Html.ActionLink("Back to All Restaurants", "Index")
</p>


