
@model IEnumerable<Project1_403.Models.Restaurant>

    @{
        ViewBag.Title = "Index";
    }
<div id="restjumbo" class="jumbotron maintableparent">
    <br />
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <h1 style="text-align: right; color: #FFFFF0; font-size: 50px; padding-bottom: 15px;"> Restaurants &nbsp; &nbsp; &nbsp; &nbsp;</h1>

        </div>
    </div>
</div>
@foreach (var item in Model)
{
    var datef = "";
    if (item.RestDateFriendly == true)
    {
        datef = "&#10004;";
    }
    else
    {
        datef = "&#120299;";
    }

    <div class="container1">
        <div class="container2">
            <span class="reviewtext1"><strong> @Html.DisplayFor(modelItem => item.RestName) </strong></span>
            <br />
            @Html.DisplayNameFor(model => model.RestTypeCode): @Html.DisplayFor(modelItem => item.RestaurantType.RestTypeDesc)
            @Html.DisplayNameFor(model => model.RestFoodTypeCode): @Html.DisplayFor(modelItem => item.FoodType.FoodTypeDesc)
            <br />
            @Html.DisplayNameFor(model => model.RestOverallRating): @Html.DisplayFor(modelItem => item.RestOverallRating)
            @Html.DisplayNameFor(model => model.RestDateFriendly): @Html.Raw((string)@datef)
            @Html.DisplayNameFor(model => model.RestCleanliness): @Html.DisplayFor(modelItem => item.RestCleanliness)
            @Html.DisplayNameFor(model => model.RestAvgMealPrice): @Html.DisplayFor(modelItem => item.RestAvgMealPrice)
        </div>
        <div class="@*col-sm-offset-1*@ container3">
            <br />
            <br />
            <table class="@*col-sm-2 col-sm-offset-8*@ ">
                <tr>
                    <td>
                        <button class="btn-block" onclick="location.href='@Url.Action("ShowReviews", "Reviews", new { iCode = item.RestCode })'">Reviews</button>
                    </td>
                    <td>
                        <button class="btn-block" onclick="location.href='@Url.Action("Details", new { iCode = item.RestCode })'">Details</button>
                    </td>


                </tr>
            </table>
        </div>
    </div>
}
   

