@model IEnumerable<Project1_403.Models.Restaurant>

@{
    ViewBag.Title = "All Restaurants";
}

<div id="restjumbo" class="jumbotron maintableparent">
    <br />
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <h1 style="text-align: right; color: #FFFFF0; font-size: 50px;"> Restaurants &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h1>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Add New Restaurant", "Create", null , new { @class = "btn btn-default" })
</p>
<table class="table table-dark table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodType.FoodTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantType.RestTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestOverallRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestDateFriendly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestCleanliness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestAvgMealPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestZipCode)
        </th>
        <th>
            Options
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodType.FoodTypeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantType.RestTypeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestOverallRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestDateFriendly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestCleanliness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestAvgMealPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestZipCode)
        </td>
        <td>
            @Html.ActionLink("Review", "Index", "Reviews", new { id = item.RestID }, new { @class = "btn btn-default" })
        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id = item.RestID }, new { @class = "btn btn-default" })


            @Html.ActionLink("Details", "Details", new { id = item.RestID }, new { @class = "btn btn-default" })



            @Html.ActionLink("Delete", "Delete", new { id = item.RestID }, new { @class = "btn btn-default" })

        </td>
    </tr>
}

</table>
