@model Tuple<Project1_403.Models.Restaurant, Project1_403.Models.Review, IEnumerable<Project1_403.Models.Review>>

@{
    ViewBag.Title = "Index";
}

<div id="homejumbo" class="jumbotron">
    <div class="container h-100">
        <div style="color:#FFFFF0">
            <h1>@Html.DisplayFor(model => model.Item1.RestName)</h1>
            <div style="font-size: 17px; text-align: left">
                @Html.DisplayNameFor(model => model.Item1.RestaurantType.RestTypeDesc): @Html.DisplayFor(model => model.Item1.RestaurantType.RestTypeDesc) <br />
                @Html.DisplayNameFor(model => model.Item1.FoodType.FoodTypeDesc): @Html.DisplayFor(model => model.Item1.FoodType.FoodTypeDesc) <br />
                @Html.DisplayNameFor(model => model.Item1.RestOverallRating): @Html.DisplayFor(model => model.Item1.RestOverallRating)  <br />
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item1.RestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.ReviewOverallRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.ReviewDateFriendly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.ReviewCleanliness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.ReviewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2.ReviewDesc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Item3)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.RestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewOverallRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDateFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewCleanliness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewCode }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewCode }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewCode })
            </td>
        </tr>
    }

</table>
