@model Tuple<Project1_403.Models.Restaurant, IEnumerable<Project1_403.Models.Review>>

@{
    ViewBag.Title = "ShowReviews";
}

@{ var datef = "";
    if (Model.Item1.RestDateFriendly == true)
    {
        datef = "Yes";
    }
    else
    {
        datef = "No";
    }

}

<div class="jumbotron">
    <h1>@Html.DisplayFor(model => model.Item1.RestName)</h1>
    <div class="col-lg-offset-1" style="font-size: 17px;">
        @Html.DisplayNameFor(model => model.Item1.RestTypeCode): @Html.DisplayFor(model => model.Item1.RestTypeCode) <br />
        @Html.DisplayNameFor(model => model.Item1.RestFoodTypeCode): @Html.DisplayFor(model => model.Item1.RestFoodTypeCode) <br />
        @Html.DisplayNameFor(model => model.Item1.RestOverallRating): @Html.DisplayFor(model => model.Item1.RestOverallRating)  <br />
        @Html.DisplayNameFor(model => model.Item1.RestDateFriendly) @datef  <br />
        @Html.DisplayNameFor(model => model.Item1.RestCleanliness): @Html.DisplayFor(model => model.Item1.RestCleanliness)
    </div>
</div>
<div>

</div>
<h2>Reviews </h2>
<div class="col-sm-2 col-sm-offset-10 " style="text-align: right"><button class="btn-block" style="width: 175px;">@Html.ActionLink("Add a Review", "AddReview", new { iCode = Model.Item1.RestCode })</button></div>
<br />

@foreach (var item in Model.Item2)
{
<div class="container1">

   
    <br />
    <span class="reviewtext1">
        Rating: <strong> @Html.DisplayFor(modelItem => item.ReviewOverallRating)</strong>
       &nbsp;
        Cleanliness: <strong> @Html.DisplayFor(modelItem => item.ReviewCleanliness)</strong>
       &nbsp;
        Date Friendly? <strong> @datef</strong>
        <br />
        <p class="col-lg-offset-1" style="font-size: 15px;">"@Html.DisplayFor(modelItem => item.ReviewDesc)" </p>
    </span>
    
    <div class="col-sm-offset-1">

        <table class="col-sm-2 col-sm-offset-8 ">
            <tr>
                <td><button class="btn-block">@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</button>
                    </td>
                <td><button class="btn-block">@Html.ActionLink("Edit", "EditReview", new { iCode = item.ReviewCode }) </button>
                </td>
                
                
            </tr>
        </table>
        <span class="reviewtext2">
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </span>
    </div>

</div>
}

<p>
    @Html.ActionLink("Back to All Restaurants", "Index", "Restaurants")
</p>
