@model Tuple<Project1_403.Models.Restaurant, IEnumerable<Project1_403.Models.Review>>

@{
    ViewBag.Title = "ShowReviews";
}

@{ var datef = "";
    if (Model.Item1.RestDateFriendly == true)
    {
        datef = "Yes";
    }
    else
    {
        datef = "No";
    }

}

<div class="jumbotron">
    <h1>@Html.DisplayFor(model => model.Item1.RestName)</h1>
    <div class="col-lg-offset-1">
        @Html.DisplayNameFor(model => model.Item1.RestTypeCode): @Html.DisplayFor(model => model.Item1.RestTypeCode) <br />
        @Html.DisplayNameFor(model => model.Item1.RestFoodTypeCode): @Html.DisplayFor(model => model.Item1.RestFoodTypeCode) <br />
        @Html.DisplayFor(model => model.Item1.RestOverallRating) @Html.DisplayNameFor(model => model.Item1.RestOverallRating) <br />
        @Html.DisplayNameFor(model => model.Item1.RestDateFriendly) @datef  <br />
        @Html.DisplayFor(model => model.Item1.RestCleanliness) @Html.DisplayNameFor(model => model.Item1.RestCleanliness)
    </div>
</div>
<div>

</div>
<h2>Reviews </h2>
<div class="col-sm-2 col-sm-offset-10 " style="text-align: right"><button class="btn-block">@Html.ActionLink("Add a Review", "AddReview", new { iCode = Model.Item1.RestCode })</button></div>
<br />

@foreach (var item in Model.Item2)
{
<div class="container1">

   
    <br />
    <span class="reviewtext1">Rating: <strong> @Html.DisplayFor(modelItem => item.ReviewOverallRating)</strong></span>
    <br />
    Cleanliness: @Html.DisplayFor(modelItem => item.ReviewCleanliness)
    <br />
    Date Friendly? @datef
    <p class="col-lg-offset-1">"@Html.DisplayFor(modelItem => item.ReviewDesc)" </p>
    <div class="col-sm-offset-1">

        <span>
            <button>@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</button>
            <button>@Html.ActionLink("Edit", "EditReview", new { iCode = item.ReviewCode }) </button>
        </span>
        <span class="reviewtext2">
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </span>
    </div>

</div>
}
<table class="table">
    <tr>
        <th>
            Review Date
        </th>
        <th>
            Overall Rating
        </th>
        <th>
            Date Friendly?
        </th>
        <th>
            Cleanliness
        </th>
        <th>
            Description
        </th>
    </tr>

    @foreach (var item in Model.Item2)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewOverallRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDateFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewCleanliness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditReview", new { iCode = item.ReviewCode }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to All Restaurants", "Index", "Restaurants")
</p>
