@model Tuple<Project1_403.Models.Restaurant, IEnumerable<Project1_403.Models.Review>>

@{
    ViewBag.Title = "ShowReviews";
}

<h2>Restaurant Reviews</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Item1.RestName)</h4>
    <hr />
    @Html.ActionLink("Add a Review", "AddReview", new { iCode = Model.Item1.RestCode })
    <dl class="dl-horizontal">
        <dt hidden>
            @Html.DisplayFor(model => model.Item1.RestCode)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.RestOverallRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.RestOverallRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.RestDateFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.RestDateFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.RestCleanliness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.RestCleanliness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.RestTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.RestTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.RestFoodTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.RestFoodTypeCode)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Review Date
        </th>
        <th>
            Overall Rating
        </th>  
        <th>
            Date Friendly?
        </th>
        <th>
            Cleanliness
        </th>
        <th>
            Description
        </th>
    </tr>

        @foreach (var item in Model.Item2)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewOverallRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDateFriendly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewCleanliness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditReview", new { iCode = item.ReviewCode }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    }

    </table>
    <p>
        @Html.ActionLink("Back to All Restaurants", "Index", "Restaurants")
    </p>
